@import url('https://fonts.googleapis.com/css2?family=Geist%20Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Caxton Std';
  src: url('/fonts/CaxtonStd-Book.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Caxton Std';
  src: url('/fonts/Caxton Std Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Priori Serif';
  src: url('/fonts/PrioriSerifOT-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  @apply m-0 bg-background text-foreground;
  font-family: var(--text-family);
  font-weight: var(--text-weight);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--text-family);
  font-weight: var(--text-weight);
}

:root {
  --display-family: "Caxton Std", "serif";
  --display-weight: 700;
  --heading-family: "Priori Serif", "serif";
  --heading-weight: 700;
  --text-family: "Geist Mono", "monospace";
  --text-weight: 300;
  --accent-family: "Only Skulls", "fantasy";
  --sci-fi-family: "Intruder", "sans-serif";

  --base-50: oklch(0.9849 0.0024 160.68);
  --base-100: oklch(0.9692 0.005 161.7);
  --base-200: oklch(0.9263 0.0099 162.17);
  --base-300: oklch(0.8504 0.0147 163.22);
  --base-400: oklch(0.7064 0.0222 164.73);
  --base-500: oklch(0.5537 0.0287 165.9);
  --base-600: oklch(0.4453 0.0279 166.55);
  --base-700: oklch(0.3731 0.0248 166.06);
  --base-800: oklch(0.2742 0.0208 165.96);
  --base-900: oklch(0.2119 0.0173 166.78);
  --base-950: oklch(0.1374 0.0152 166.46);
  --base-1000: oklch(0.0891 0.0136 166.9);

  --background: var(--base-50);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--base-950);
  --primary-foreground: var(--color-white);
  --secondary: var(--base-200);
  --secondary-foreground: var(--base-950);
  --muted: var(--base-100);
  --muted-foreground: var(--base-600);
  --accent: var(--base-100);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--base-800);
  --chart-1: var(--base-950);
  --chart-2: var(--base-600);
  --chart-3: var(--base-800);
  --chart-4: var(--base-400);
  --chart-5: var(--base-300);
  --radius: 0.3rem;
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--base-950);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--base-50);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--base-800);
}

.dark {
  --background: var(--base-950);
  --foreground: var(--base-200);
  --card: var(--base-900);
  --card-foreground: var(--base-200);
  --popover: var(--base-900);
  --popover-foreground: var(--base-200);
  --primary: var(--base-50);
  --primary-foreground: var(--base-900);
  --secondary: var(--base-700);
  --secondary-foreground: var(--base-50);
  --muted: var(--base-800);
  --muted-foreground: var(--base-300);
  --accent: var(--base-800);
  --accent-foreground: var(--base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--base-800);
  --input: var(--base-700);
  --ring: var(--base-200);
  --chart-1: var(--base-50);
  --chart-2: var(--base-400);
  --chart-3: var(--base-200);
  --chart-4: var(--base-600);
  --chart-5: var(--base-700);
  --sidebar: var(--base-900);
  --sidebar-foreground: var(--base-200);
  --sidebar-primary: var(--base-50);
  --sidebar-primary-foreground: var(--base-900);
  --sidebar-accent: var(--base-800);
  --sidebar-accent-foreground: var(--base-200);
  --sidebar-border: var(--base-800);
  --sidebar-ring: var(--base-200);
}

@theme inline {
  --font-display: var(--display-family);
  --font-text: var(--text-family);
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  .font-display {
    font-family: var(--display-family);
    font-weight: var(--display-weight);
    letter-spacing: 0.02em;
  }
  
  .font-heading {
    font-family: var(--heading-family);
    font-weight: var(--heading-weight);
  }
  
  .font-text {
    font-family: var(--text-family);
    font-weight: var(--text-weight);
  }

  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
